.home-page {
    padding-top: 60px; 
    background-color: #f0f2f5;
    min-height: calc(100vh - 64px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-container {
    max-width: 600px;
    padding: 40px 20px;
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.home-container h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.home-container p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.logout-button {
    background-color: #ff0004;
    border-color: #ff0004;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    padding: 8px 20px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.logout-button:hover {
    background-color: #ff0004;
    border-color: #ff0004;
}
